body
{
 background: rgb(218, 95, 25);
 color: black;
 font-size: 28px;
}
#h3
{
	width:100px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 48px;
	min-height: 60px;	
}

#strona
{
 width: 100%;
 margin-left: auto;
 margin-right: auto;
}
#tabela
{
 width:100%;
 margin-left: auto;
 margin-right: auto;
 border-collapse: separate;
 border-spacing: 10px;

}
table, th, td {
	border: 1px solid black;
}
th, td {
	padding: 10px;
	text-align: center;
}
 